# How to deal Imbalance dataset?

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('Diabetes_predict.csv')
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,2,138,62,35,0,33.6,0.127,47,1
1,0,84,82,31,125,38.2,0.233,23,0
2,0,145,0,0,0,44.2,0.630,31,1
3,0,135,68,42,250,42.3,0.365,24,1
4,1,139,62,41,480,40.7,0.536,21,0

In [4]:
df['Outcome'].value_counts()

0    1316
1     684
Name: Outcome, dtype: int64

In [5]:
x=df.drop('Outcome',axis=1)

In [6]:
x

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,2,138,62,35,0,33.6,0.127,47
1,0,84,82,31,125,38.2,0.233,23
2,0,145,0,0,0,44.2,0.630,31
3,0,135,68,42,250,42.3,0.365,24
4,1,139,62,41,480,40.7,0.536,21
...,...,...,...,...,...,...,...,...
1995,2,75,64,24,55,29.7,0.370,33
1996,8,179,72,42,130,32.7,0.719,36
1997,6,85,78,0,0,31.2,0.382,42
1998,0,129,110,46,130,67.1,0.319,26
1999,2,81,72,15,76,30.1,0.547,25

In [8]:
y=df.Outcome
y

0       1
1       0
2       1
3       1
4       0
       ..
1995    0
1996    1
1997    0
1998    1
1999    0
Name: Outcome, Length: 2000, dtype: int64

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.7)

In [11]:
x_train.shape

(1400, 8)

In [12]:
x_test.shape

(600, 8)

In [13]:
y_train.shape

(1400,)

In [14]:
y_test.shape

(600,)

# Upsampling

In [15]:
from sklearn.utils import resample

In [16]:
x=pd.concat([x_train,y_train],axis=1)

In [17]:
x

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
954,0,145,0,0,0,44.2,0.630,31,1
1429,2,108,62,32,56,25.2,0.128,21,0
444,4,117,62,12,0,29.7,0.380,30,1
852,1,109,60,8,182,25.4,0.947,21,0
1903,7,83,78,26,71,29.3,0.767,36,0
...,...,...,...,...,...,...,...,...,...
1589,6,139,84,37,0,50.7,0.320,50,1
810,1,130,70,13,105,25.9,0.472,22,0
1775,1,107,50,19,0,28.3,0.181,29,0
528,0,117,66,31,188,30.8,0.493,22,0
1787,4,118,70,0,0,44.5,0.904,26,0

In [18]:
not_dia=x[x.Outcome==0]

In [19]:
not_dia

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
1429,2,108,62,32,56,25.2,0.128,21,0
852,1,109,60,8,182,25.4,0.947,21,0
1903,7,83,78,26,71,29.3,0.767,36,0
1601,3,99,62,19,74,21.8,0.279,26,0
1524,0,124,56,13,105,21.8,0.452,21,0
...,...,...,...,...,...,...,...,...,...
504,3,96,78,39,0,37.3,0.238,40,0
810,1,130,70,13,105,25.9,0.472,22,0
1775,1,107,50,19,0,28.3,0.181,29,0
528,0,117,66,31,188,30.8,0.493,22,0
1787,4,118,70,0,0,44.5,0.904,26,0

In [20]:
diabetes=x[x.Outcome==1]

In [21]:
diabetes

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
954,0,145,0,0,0,44.2,0.630,31,1
444,4,117,62,12,0,29.7,0.380,30,1
695,7,142,90,24,480,30.4,0.128,43,1
972,6,0,68,41,0,39.0,0.727,41,1
1794,10,115,0,0,0,0.0,0.261,30,1
...,...,...,...,...,...,...,...,...,...
84,5,137,108,0,0,48.8,0.227,37,1
230,4,142,86,0,0,44.0,0.645,22,1
64,7,114,66,0,0,32.8,0.258,42,1
826,1,125,50,40,167,33.3,0.962,28,1
1589,6,139,84,37,0,50.7,0.320,50,1

In [23]:
dia_upsampled=resample(diabetes,
                      replace=True,
                      n_samples=len(not_dia),
                      random_state=27)

In [24]:
dia_upsampled

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
175,8,179,72,42,130,32.7,0.719,36,1
451,2,134,70,0,0,28.9,0.542,23,1
284,2,108,80,0,0,27.0,0.259,52,1
280,0,146,70,0,0,37.9,0.334,28,1
1061,4,183,0,0,0,28.4,0.212,36,1
...,...,...,...,...,...,...,...,...,...
1364,8,196,76,29,280,37.5,0.605,57,1
1667,0,138,60,35,167,34.6,0.534,21,1
827,13,129,0,30,0,39.9,0.569,44,1
539,3,129,92,49,155,36.4,0.968,32,1
1257,1,122,90,51,220,49.7,0.325,31,1

In [27]:
unsampled=pd.concat([not_dia, dia_upsampled])

In [28]:
unsampled

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
1429,2,108,62,32,56,25.2,0.128,21,0
852,1,109,60,8,182,25.4,0.947,21,0
1903,7,83,78,26,71,29.3,0.767,36,0
1601,3,99,62,19,74,21.8,0.279,26,0
1524,0,124,56,13,105,21.8,0.452,21,0
...,...,...,...,...,...,...,...,...,...
1364,8,196,76,29,280,37.5,0.605,57,1
1667,0,138,60,35,167,34.6,0.534,21,1
827,13,129,0,30,0,39.9,0.569,44,1
539,3,129,92,49,155,36.4,0.968,32,1
1257,1,122,90,51,220,49.7,0.325,31,1

In [29]:
unsampled.Outcome.value_counts()

0    933
1    933
Name: Outcome, dtype: int64

# Downsampling

In [30]:
not_dia_downsampled=resample(not_dia,
                            replace=False,
                            n_samples=len(diabetes),
                            random_state=27)

In [31]:
not_dia_downsampled

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
991,1,77,56,30,56,33.3,1.251,24,0
1098,4,128,70,0,0,34.3,0.303,24,0
721,1,114,66,36,200,38.1,0.289,21,0
15,2,81,72,15,76,30.1,0.547,25,0
526,1,97,64,19,82,18.2,0.299,21,0
...,...,...,...,...,...,...,...,...,...
180,6,87,80,0,0,23.2,0.084,32,0
491,2,89,90,30,0,33.5,0.292,42,0
1029,3,111,58,31,44,29.5,0.430,22,0
1879,0,146,82,0,0,40.5,1.781,44,0
126,3,120,70,30,135,42.9,0.452,30,0

In [33]:
downsampled=pd.concat([not_dia_downsampled, diabetes])

In [34]:
downsampled.Outcome.value_counts()

0    467
1    467
Name: Outcome, dtype: int64